/* Contact Hero Section */

.contact-hero {
  background: #005f7d;
  padding: 120px 20px;
  text-align: center;
  color: white;
}

.contact-hero h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
}

.contact-hero p {
  font-size: 20px;
  line-height: 1.8;
  max-width: 850px;
  margin: auto;
  color: white;
}

/* Responsive */

@media (max-width: 768px) {
  .contact-hero {
    padding: 90px 20px;
  }

  .contact-hero h1 {
    font-size: 42px;
  }

  .contact-hero p {
    font-size: 17px;
  }
}