.services-hero{
  width:100%;
  background:#2e9ebd;
  text-align:center;
  padding:140px 20px;
}

.services-hero h1{
  font-size:72px;
  color:white;
  font-weight:700;
  margin-bottom:30px;
}

.services-hero p{
  max-width:900px;
  margin:auto;
  font-size:24px;
  line-height:1.8;
  color:white;
}