.whychoose{
  width:100%;
  background:white;
  text-align:center;
  padding:80px 140px;
}

.whychoose h2{
  font-size:56px;
  font-weight:700;
  margin-bottom:35px;
  color:black;
}

.whychoose p{
  font-size:22px;
  line-height:1.9;
  color:#444;
  margin-bottom:30px;
}